[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-cowsay = "*"
sphinx = "*"
setuptools = "*"
build = "*"

[dev-packages]
babel = "*"
doit = "*"
flake8 = "*"
pydocstyle = "*"

[requires]
python_version = "3.12"
